<!-- File Name: Contacts.ejs -->
<!-- Created by: Cong Wang -->
<!-- Student Number: #301098547 -->
<!-- Created on: 10.19.2020 -->

<br>
<br>
<div class="container">

<h2 class="sub-header">Contacts</h2>
<h3>Welcome,  <%= username %></h3>
<a class="btn btn-success" href="/contacts/new" target="_blank">Add Contact</a>
<a href="/users/logout" class="btn btn-primary">Logout</a>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Cellphone</th>
            <th>Email</th>
            <th>Operate</th>
        </tr>
        </thead>
        <tbody>
        <% contacts.forEach(function (contact) { %>
            <tr>
                <td><%= contact.id %></td>
                <td><%= contact.name %></td>

                <td><%= contact.cellphone %></td>
                <td><%= contact.email %></td>

                <td>
                    <a href="/contacts/modify?id=<%= contact.id %>">Modify</a>
                    <a href="/contacts/delete?id=<%= contact.id %>">Delete</a>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>
</div>


