<!-- File Name: modify.ejs -->
<!-- Created by: Cong Wang -->
<!-- Student Number: #301098547 -->
<!-- Created on: 10.20.2020 -->
<br>
<br>
<div class="container">
    <h2 class="sub-header">Contacts</h2>
    <h3>Welcome,  <%= username %></h3>
    <h2 class="sub-header">Modify Contact</h2>
    <form action="/contacts/modify" method="post">

       <input type="hidden" class="form-control" id="id" name="id" value="<%= contact.id%>" required>

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="<%= contact.name%>" required>
        </div>

        <div class="form-group">
            <label for="cellphone">cellphone</label>
            <input class="form-control" type="text" id="cellphone" name="cellphone" value="<%= contact.cellphone%>" required>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="email" id="email" name="email" value="<%= contact.email%>" >
        </div>

        <button type="submit" class="btn btn-success">Modify</button>
        <a href="/contacts/delete" class="btn btn-warning">Delete</a>
        <a href="/contacts" class="btn btn-default">Cancel</a>
    </form>
    </div>
</div>


